.AppointmentBox{
    width: 350px;
    height: 520px;
    background: rgb(18, 172, 142);
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
     font-size: 16px;
}
.ReportBox{
    width: 715px;
    height: 550px;
    background: rgb(18, 172, 142);
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    font-size: 16px;
}

.AppointmentBox h1{
    text-align: center;
    margin-top: -60px;
}
.form-group select {
    /* Your styles here */
    width: 83%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fb923c;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
}



.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #fb923c;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    /*border-color: black;*/
    outline: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fb923c;
    border-radius: 5px;
    /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}
.label1{
    font-size: 18px;
    display: block;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.label2 {

     font-size: 18px;
    display: block;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 3%;

}

.AppointmentForm {
    font-size: 18px;
    position: relative;
    margin-left: 10%;
}
.AppointmentBox input{
    width: 83%;
    margin: auto;
    font-size: 18px;

}
.AppointmentBox input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10%;
}
.flash-message-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 15px;
}

/* Error message */
.flash-message-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 10px;
    margin-bottom: 15px;
}
@media (max-width: 950px) {
  .AppointmentBox{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
}

@media (max-width: 820px) {
  .AppointmentBox{
    margin: 40px 0;
    height: 100%;
  }
  .AppointmentBox .content{
    flex-direction: column-reverse;
  }
}
