.tab {
    display: none;
}
.tab.active {
    display: block;
}
.tabs-container {
    width: 75%;
    margin: auto;
}
.tabs-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    cursor: pointer;
}
.tabs-menu-item {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px 5px 0 0;
}
.tabs-menu-item.active {
    background-color: orange;
}
.tab-content {
    margin-top: 20px;
}
.card-container
{
    position: center;
top: 50px;
padding: 10px;
}

.card {
    background: lightseagreen;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 27px;
    margin-bottom: 20px;
    display: inline-block;
    width: 45%; /* Adjust width for 2x2 grid */
    height: 300px;
    box-sizing: border-box;
    position: relative; /* Positioning for image overlay */
    text-align: center;
}
.card img {
    position: absolute;
    margin: 20px;
    top: 180px;
    left: 200px;
    transform: translate(-50%, -50%);
    width: 60px; /* Adjust image size */
    height: 60px; /* Adjust image size */
}

.custom-table  {
 border: 1px solid white; /* Orange border */
    background: linear-gradient(to right, rgba(18, 172, 142, 0.9), rgba(18, 172, 142, 0.7)); /* Darker green gradient */
    color: black; /* Orange text color */
     font-size: 1.2rem;
    text-align: center;
}
td{
  background-color: transparent;
    border:1px solid transparent; ;
}
.custom-table th {
     border: 1px solid white; /* Orange border */
    background: rgba(245, 123, 24, 0.9);
    color: black; /* Orange text color */
     font-size: 1rem;
    text-align: center;
}
#tab-contributions table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#tab-contributions th, #tab-contributions td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

#tab-contributions th {
    background-color: #f2f2f2;
    color: #333;
}

#tab-contributions tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tab-contributions tr:hover {
    background-color: #f1f1f1;
}

#tab-contributions tr[data-id]:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

#tab-contributions th, #tab-contributions td {
    text-align: center;
}

#tab-contributions h3 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* upcoming maintenances table */
#tab-maintenances table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#tab-maintenances th, #tab-maintenances td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

#tab-maintenances th {
    background-color: #f2f2f2;
    color: #333;
}

#tab-maintenances tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tab-maintenances tr:hover {
    background-color: #f1f1f1;
}

#tab-maintenances tr[data-id]:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

#tab-maintenances th, #tab-maintenances td {
    text-align: center;
}

#tab-maintenances h3 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* out of service table */
#tab-out_of_service table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#tab-out_of_service th, #tab-out_of_service td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

#tab-out_of_service th {
    background-color: #f2f2f2;
    color: #333;
}

#tab-out_of_service tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tab-out_of_service tr:hover {
    background-color: #f1f1f1;
}

#tab-out_of_service tr[data-id]:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

#tab-out_of_service th, #tab-out_of_service td {
    text-align: center;
}

#tab-out_of_service h3 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

