.forgetBox{
    width: 400px;
    height: 350px;
    background: rgb(18, 172, 142);
    color: white;
    margin-top: 5%;
    margin-left: 39%;
    border-radius: 10px;
}
.forgetBox h1{
    text-align: center;
    margin-top: -60px;
    margin-left: 2%;
    margin-bottom: 5%;
}
.forgetBox p{
    margin-left: 6%;
    margin-bottom: 5%;
}
.forgetBox a{
    text-decoration: none;
    color: white;
}
.forget-form label{
    font-size: 18px;
    display: block;
    margin-left: 35px;
}
.forget-form input{
    width: 80%;
    margin: 0 0 20px 20px;
    margin-left: 35px;
    height: 30px;
}
.forget-form input[type="text"]{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: white;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 10%;
}
.forget-form input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 35px;
    text: center;
}