.forgetBox{
    width: 400px;
    height: auto;
    background: rgb(18, 172, 142);
    color: white;
    margin-top: 10%;
    margin-left: 39%;
    border-radius: 10px;
}
.forgetBox h1{
    text-align: center;
    margin-top: -60px;
    margin-left: 2%;
    margin-bottom: 5%;
}
.forgetBox p{
    margin-left: 6%;
    margin-bottom: 5%;
}
/*.forgetBox a{
    text-decoration: none;
    color: white;
}*/
.forget-form label{
    font-size: 18px;
    display: block;
    margin-left: 20px;
}
.forget-form input{
    width: 80%;
    margin: 0 0 20px 20px;
    margin-left: 20px;
    height: 30px;
}
.forget-form input[type="text"],input[type="password"]{
    border: none;
    background: #fafafa;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    width: 80%;
}
.forget-form input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 12%;
    width: 300px;
    height: 50px;
}
.forget-form input[type="submit"]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #e9f7f7;
}