.forgetBox{
    width: 430px;
    height: auto;
    background: rgb(18, 172, 142);
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
}
.forgetBox h1{
    text-align: center;
    margin-top: -60px;
    margin-left: 2%;
    margin-bottom: 5%;
}
.forgetBox p{
    text-align: center;
    margin-bottom: 5%;
}
/*.forgetBox a{
    text-decoration: none;
    color: white;
}*/
.forget-form label{
text-align: center;
    font-size: 18px;
    display: block;
}
.forget-form input{
    width: 80%;
    margin: 0 0 20px 20px;
    margin-left: 20px;
    height: 30px;
}
.forget-form input[type="text"],input[type="password"]{
    background: #fafafa;
    border: 1px solid #fb923c;
    height: 40px;
    outline: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
}
.forget-form input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 16%;
    width: 300px;
    height: 50px;
}
.forget-form input[type="submit"]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #e9f7f7;
}
@media (max-width: 950px) {
  .forgetBox{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
}

@media (max-width: 820px) {
  .forgetBox{
    margin: 40px 0;
    height: 100%;
  }
  .forgetBox .content{
    flex-direction: column-reverse;
  }
}
