@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.container-profile {
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 7%;
    height: 879px;
    width: 967px;
    background: var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-profile .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
    width: fit-content;
    position: relative;
    top: -32px;
}

.container-profile .content .left-side{
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*margin-top: 50px;*/
  margin-left: 4px;
  /*position: relative;
  background: #f2f2f2;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;*/
}

.content .left-side .profile{
    width: 390px;
    background: #fafafa;
    border-radius: 5px;
    margin-top: 58px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
}

.content .left-side .profile .profile-img{
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

.content .left-side .profile .profile-img img{
    margin-left: 50px;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    top: 60px;
}

.content .left-side .profile .profile-img .file {
    position: relative;
    overflow: hidden;
    /*margin-top: -20%;*/
    width: 60%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.content .left-side .profile .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content .left-side .edit-profile-btn {
    background-color: #fb923c;
    color: white;
    position: relative;
    border-radius: 5px;
    border-color: white;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 70px;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.content .left-side .edit-profile-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #fb923c;
}

.content .right-side .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    padding: 25px;
}

.content .right-side .tabs input[type="radio"] {
    display: none;
}

.content .right-side .tabs .appointment {
    background: #e2e2e2;
    font-weight: bold;
    color: #333333;
    border: 1px solid transparent;
    border-radius: 5px 0 0 0;
    cursor: default;
    padding: 10px 20px;
}

.content .right-side .tabs .appointment:hover {
  border: 1px solid gray;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.content .right-side .tabs .reports {
    background: #e2e2e2;
    font-weight: bold;
    color: #333333;
    border: 1px solid transparent;
    border-radius: 0 5px 0 0;
    cursor: default;
    padding: 10px 20px;
}

.content .right-side .tabs .reports:hover {
  border: 1px solid gray;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.content .right-side .tabs input[type='radio']:checked + label + .tab {
    display: block;
}

.content .right-side .tabs input[type="radio"]:checked + label {
    background: #fafafa;
}

.content .right-side .tab{
    width: 450px;
    background: #fafafa;
    border-radius: 0 5px 5px 5px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    margin-left: 0px;
    order: 1;
    border-top: 1px solid gray;
    display: none;
}

.content .right-side .tab label {
    font: optional;
}

.content .right-side .tab p {
    font-weight: 600px;
    color: #333333;
}

.content .right-side .tab h3{
    color: #333333;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.content .right-side .tab .row{
    margin: 15px;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 10px;
    /*margin-bottom: 30px;*/
}

/* Background colors based on appointment state */
#today {
    background-color: #ffffe0; /* Light blue */
    border-left: 5px solid yellow; /* Light blue border */
}

#upcoming {
    background-color: #f0fff0; /* Light green */
    border-left: 5px solid green; /* Light green border */
}

#missed {
    background-color: #ffe4e1; /* Light coral */
    border-left: 5px solid red; /* Light coral border */
}

.content .right-side .book-appointment-btn {
    background-color: #fb923c;
    color: white;
    border-radius: 5px;
    border-color: white;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: center;
    /*margin-top: 15px;*/
    font-weight: bold;
}
.content .right-side .book-appointment-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #fb923c;
}

.content .right-side .create-report-btn {
    background-color: #fb923c;
    color: white;
    border-radius: 5px;
    border-color: white;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    /*margin-top: 20px;*/
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 55px;
    font-weight: bold;
}

.content .right-side .create-report-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #fb923c;
}

.container-profile .content .right-side {
    position: relative;
    width: 75%;
    margin-left: 33px;
    top: -5px;
}

.content .left-side .user-data{
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 390px;
    height: auto;
}

.content .left-side .user-data-content{
    padding: 20px;
    padding-right: 50px;
}

.content .left-side .user-data h5{
    color: #333333;
    font-size: 18px
}

.content .left-side .user-data h6{
    color: #0062cc;
    font-size: 15px
}

.content .left-side .user-data label{
    color: #333333;
    font-size: 17px;
    font-weight: bold;
}

.content .left-side .user-data p{
    color: #333333;
    font-size: 15px;
    font-weight: normal;
}

.content .left-side .user-data .row {
    margin: 10px;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
}

.content .right-side .scans{
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 450px;
    height: auto;
    margin-left: 25px;
}

.content .right-side .scans p {
    color: #333333;
}

.scrollable {
    width: 100%;
    height:100%;
    overflow-x: auto;
    padding: 10px;

}

.scrollable-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .right-side .scans .scrollable-content .image {
    /*margin-bottom: 10px;*/
    margin-right: 10px;;
    max-width: 100%;
}

.content .right-side .upload-scan-btn{
    background-color: #fb923c;
    color: white;
    border-radius: 5px;
    border-color: white;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    /*margin-top: 30px;*/
    margin-left: 30%;
    font-weight: bold;
}

.content .right-side .upload-scan-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #fb923c;
}

.circular-frame {
    width: 200px; /* Adjust the width and height as needed */
    height: 200px;
    margin: auto;
    position: relative;
    top: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid lightseagreen; /* Optional: add a border around the circle */
}

.circular-frame img {
    width: 200px;
    height: 200px;
    display: block;
}

.icon-button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        position: relative;
        left: 46px;
        top: 37px;
    display: block;
    width: fit-content;
    }

    .icon-button img {
        width: 112px; /* Adjust the size of the icon */
        height: auto; /* Maintain aspect ratio */
    }

.icon-button2 {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        position: relative;
        left: 280px;
        top: -77px;
    display: block;
    width: fit-content;
    }

    .icon-button2 img {
        height: 106px; /* Adjust the size of the icon */
        width: auto; /* Maintain aspect ratio */
    }
.brain

{
    position: relative;
    left: 56px;
    top: -50px;
        display: block;
    font-size: 1em;
    font-weight: bold;
}

.lung

{
    position: relative;
    left: 300px;
    top: -74px;
    font-size: 1em;
    font-weight: bold;
}