.flash-message{
    text-align: center;
}

.container {
    border: none;
    outline: none;
    height: auto;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10%;
    margin-left: 21%;
    text-align: center;
    background: rgb(18, 172, 142);
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.uploadBox{
    width: 800px;
    height: 350px;
    background: #12ac8e;
    color: #fafafa;
    margin-left: 6.5%;
    border-radius: 5px;
}

.uploadBox h1{
    font-size: 30px;
    text-align: center;
    margin-top: -60px;
    margin-left: 2%;
    margin-bottom: 3%;
    color: #fafafa;
}
.uploadBox p{
    font-size: 25px;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 3%;
    color: #fafafa;
}

.uploadBox label{
    font-size: 22px;
    display: block;
    margin-bottom: 3%;
    text-align: left;
    color: #fafafa;
}

.uploadBox input {
    width: 100%;
    /*margin: 5px 0;*/
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 19px;
    text-align: left;
    margin-bottom: 5%;
    padding: 5px 10px;
}

.uploadBox button{
    border: none;
    outline: none;
    height: 52px;
    width: 120px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background: var(--secondary-color);
}

.uploadBox a{
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    text-align: center;
    background: var(--secondary-color);
}

.uploadBox button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #e9f7f7;
}

.uploadBox a:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px #e9f7f7;
}

.scan-photos{
    width: 800px;
    background: #fafafa;
    color: #fafafa;
    margin-top: 5%;
    margin-left: 6.5%;
    margin-right: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: space-between;
}
.scan-photos p{
    font-size: 18px;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 5%;
    color: #fafafa;
}
