.container {
    border: none;
    outline: none;
    height: 50px;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
    background: #cefad0;
}
.uploadBox{
    width: 400px;
    height: 350px;
    background: rgb(18, 172, 142);
    color: white;
    margin-top: 2%;
    margin-left: 39%;
    border-radius: 10px;
}
.uploadBox h1{
    text-align: center;
    margin-top: -60px;
    margin-left: 2%;
    margin-bottom: 5%;
}
.uploadBox p{
    text-align: center;
    margin-left: 2%;
    margin-bottom: 5%;
    font-size: 25px;
}
.uploadBox a{
    text-decoration: none;
    color: white;
}
.uploadBox label{
    font-size: 18px;
    display: block;
    margin-left: 35px;
    margin-bottom: 4%;
}
.uploadBox input {
    width: 80%;
    margin: 0 0 20px 20px;
    margin-left: 35px;
}
.uploadBox input[type="file"]{
    border: none;
    background: transparent;
    height: 30px;
    outline: none;
    color: white;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 10%;
}
.uploadBox button {
    border: none;
    outline: none;
    height: 40px;
    width: 30%;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 55px;
    text-align: center;
    background: var(--secondary-color);
}
.container2{
    width: 100%;
    height: 100%;
    background: white;
    color: white;
    margin-top: 5%;
    border-radius: 10px;
}
