{% extends 'base.html' %}
{% block title %}
    Appointment Page
{% endblock %}
{% block content %}
     <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appointment.css') }}">
    </head>

<body onload="setMinDate()">
  <script>
                        function setMinDate() {
                            var today = new Date().toISOString().split('T')[0];
                            document.getElementById('date').setAttribute('min', today);
                        }
                                 </script>


        <div class="AppointmentBox"> <br>
            <div class="content">
            <h2 align="center">Book Appointment</h2>


                <form action="" method='POST' name="AppointmentForm">

                    <div class="form-group">
                        {{ form.hidden_tag() }}
                    <label class="label2" for="Preferred Day">{{ form.date.label }}</label>
                        {{form.date(class='form-control datepicker')}}
                    </div>

                    <div class="form-group"  >
                    <label class="label2" for="Preferred Doctor">{{ form.doctors.label }}</label>
                    <label class="dropList label1"> {{ form.doctors(class="form-control") }} </label>
                </div>

                <div class="form-group">
                    <label class="label2" for="Examination Type">{{ form.devices.label }}</label>
                    <label class="dropList label1"> {{ form.devices(class="form-control") }} </label>
                </div>
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </form>
                </div>
        </div>
        <!-- Bootstrap JavaScript -->
        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>-->
    </body>
{% endblock %}
