{% extends 'base.html' %}
{% block title %}
    Forget Password Page
{% endblock %}
{% block content %}
<!--xmlns="http://www.w3.org/1999/html"-->
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgetPassword.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                     <div class="alert alert-{{ category }}" style="text-align: center">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="position: absolute; left: 1400px"></button>
                        {{ message }}
                     </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="forgetBox">
            <div class="content"> <br> <br> <br> <br>
                <h1>Forget Password?</h1>
                <p>Please enter your email to rest your password</p>
                <form method="POST" class="forget-form">
                    {{ form.hidden_tag() }}
                    {{ form.email.label() }}
                    {{ form.email(class="form-control",placeholder="Email Address") }}
                    {{ form.submit(class="btn btn-lg btn-block btn-success") }}
                </form>
            </div>
        </div>
    </body>
{% endblock %}
