{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        {% if data is none %}
        <section class="section__container identity__container" id="identity">
            <div class="identity__grid">
                <div class="identity__card">
                    <span><i class="ri-nurse-line"></i></span>
                    <h4>Login As Doctor</h4>
                    <a href="/radiologist-login">Click Here</a>
                </div>

                <div class="identity__card">
                    <a href="/patient-login_page"></a>
                    <span><i class="ri-hotel-bed-fill"></i></span>
                    <h4>Login As Patient</h4>
                    <a href="/patient-login_page">Click Here</a>
                </div>
             </div>
        </section>
        {% endif %}
        <section class="section__container service__container" id="service">
                <div class="service__header">
                    <div class="service__header__content">
                        <h2 class="section__header">Our Radiology Service</h2>
                        <p>
                            Beyond diagnosis, we prioritize your comfort and clarity. At our radiology center, we deliver
                            unparalleled imaging services tailored to your unique needs.
                        </p>
                    </div>
                </div>
                <div class="service__grid">
                    <div class="service__card">
                        <!-- <img src="D:\Users\Desktop\Hospital Design\photos\mri.png" alt="no image"> -->
                        <!-- <img src="D:\Users\Desktop\Hospital Design\photos\mri.png" alt="Icon description" class="icon"> -->
                        <span><img class="logo" src="static/photos/mri.png" width="35" height="70" ></span>
                        <h4>MRI</h4>
                        <p>
                            Magnetic resonance imaging (MRI) uses a powerful magnetic field, radio waves and a computer to
                            produce detailed pictures of the body's internal structures that are clearer, more detailed and more
                            likely in some instances to identify and accurately characterize disease than other imaging methods.
                        </p>
                    </div>
                    <div class="service__card">
                        <span><img class="logo" src="static/photos/ct.png" width="35" height="70" ></span>
                        <h4>CT</h4>
                        <p>
                            CT scanning combines special x-ray equipment with sophisticated computers to produce multiple images
                            or pictures of the inside of the body. These cross-sectional images of the area being studied can
                            then be examined on a computer monitor, printed or transferred to a CD.
                        </p>
                    </div>
                    <div class="service__card">
                        <span><img class="logo" src="static/photos/NucImg.png" width="35" height="70" ></span>
                        <h4>Nuclear Imaging</h4>
                        <p>
                            Nuclear medicine is a branch of medical imaging that uses small amounts of radioactive material to
                            diagnose and determine the severity of or treat a variety of diseases including many types of
                            cancers, heart disease, gastrointestinal, endocrine, neurological disorders
                            and other abnormalities within the body.
                        </p>
                    </div>
                    <div class="service__card">
                        <span><img class="logo" src="static/photos/WomImg.png" width="35" height="70" ></span>
                        <h4>Women's Imaging</h4>
                        <p>
                            This unit is equipped with state of the art Digital mammography unit. In addition, the unit is
                            equipped with a latest Ultrasound machines to cater to the ever present demand for an exclusive
                            women's imaging.
                        </p>
                    </div>
                    <div class="service__card">
                        <span><img class="logo" src="static/photos/US.png" width="35" height="70" ></span>
                        <h4>Ultrasound</h4>
                        <p>
                            Conventional ultrasound displays the images in thin, flat sections of the body. Advancements in
                            ultrasound technology include three-dimensional (3-D) ultrasound that formats the sound wave data
                            into 3-D images. Four-dimensional (4-D) ultrasound is 3-D ultrasound in motion.
                        </p>
                    </div>
                    <div class="service__card">
                        <span><img class="logo" src="static/photos/xray.png" width="35" height="70" ></span>
                        <h4>Conventional X-ray</h4>
                        <p>
                            Imaging with x-rays involves exposing a part of the Body to a small dose of ionizing radiation to
                            produce pictures of the inside of the body. X-rays
                            are the oldest and most frequently used form of medical imaging.
                        </p>
                    </div>
                </div>
        </section>
        <section class="section__container about__container" id="about">
            <div class="about__content">
                <h2 class="section__header">About Us</h2>
                <p>
                    SunRay is a leading provider of comprehensive and advanced diagnostic imaging services. We are
                    dedicated to providing clear and accurate diagnoses, using the latest technology in a patient-centered
                    environment.
                </p>
                <p>
                    Our team of board-certified radiologists possess extensive experience and specialize in interpreting a
                    wide range of medical images. They are committed to clear communication, working closely with your
                    physician to ensure a collaborative approach to your care.
                </p>
                <p>
                    We are constantly investing in the latest imaging equipment, including (mention specific equipment you
                    have, e.g., high-field MRI scanners, low-dose CT scanners, etc.). This ensures the most accurate and
                    detailed results possible, leading to optimal diagnoses.
                </p>
                <p>
                    Our highly skilled and certified technologists prioritize your comfort and safety throughout your visit.
                    Our friendly support staff is readily available to address your questions and concerns, making the
                    entire experience as smooth and stress-free as possible.
                </p>
            </div>
            <div class="about__image">
                <img src="static/photos/MRI-photo.jpg" alt="about" />
            </div>
        </section>
        <section class="section__container why__container">
            <div class="why__image">
                <img src="static/photos/why-photo.png" alt="why choose us" />
            </div>
            <div class="why__content">
                <h2 class="section__header">Why Choose Us</h2>
                <p>
                    When it comes to your health, choosing the right radiology center matters. Here's why SunRay stands
                    out
                </p>
                <div class="why__grid">
                    <span><i class="ri-hand-heart-line"></i></span>
                    <div>
                        <h4>Patient-Centered Approach</h4>
                        <p>
                            From scheduling your appointment to completing your
                            procedure, we focus on creating a personalized experience.
                        </p>
                    </div>
                    <span><i class="ri-phone-line"></i></span>
                    <div>
                        <h4>Clear Communication</h4>
                        <p>
                            Our radiologists and staff are committed to
                            explaining your results in a way you can understand, addressing any questions you
                            may have.
                        </p>
                    </div>
                    <span><i class="ri-stethoscope-line"></i></span>
                    <div>
                        <h4>Home Services</h4>
                        <p>
                            Our radiology and Labs enables you to carry out your investigations at the comfort of your own
                            home
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__container doctors__container">
            <div class="doctors__header">
                <div class="doctors__header__content">
                    <h2 class="section__header">Our Special Doctors</h2>
                    <p>
                        We take immense pride in our exceptional team of radiologists. Each a specialist in their field,
                        they bring a wealth of experience and expertise to ensure accurate diagnoses and compassionate care.
                    </p>
                </div>

            </div>
            <div class="doctors__grid">
                <div class="doctors__card">
                    <div class="doctors__card__image">
                        {% if photo.doctor1 is none  or photo.doctor1 is undefined %}
                        <img src="{{ url_for('static', filename='images/image.png') }}" alt="doctor" />
                        {% else %}
                        <img src="{{ url_for('static', filename=photo.doctor1) }}" alt="doctor" />
                        {% endif %}

                    </div>
                    <h4>{{ special_doctors[0][1] }}</h4>
                    <p>Radiologist</p>
                </div>
                <div class="doctors__card">
                    <div class="doctors__card__image">
                        {% if photo.doctor2 is none or photo.doctor2 is undefined %}
                        <img src="{{ url_for('static', filename='images/image.png') }}" alt="doctor" />
                        {% else %}
                        <img src="{{ url_for('static', filename=photo.doctor2) }}" alt="doctor" />
                        {% endif %}

                    </div>
                    <h4>{{ special_doctors[1][1] }}</h4>
                    <p>Radiologist</p>
                </div>
                <div class="doctors__card">
                    <div class="doctors__card__image">
                        {% if photo.doctor3 is none or photo.doctor3 is undefined %}
                        <img src="{{ url_for('static', filename='images/image.png') }}" alt="doctor" />
                        {% else %}
                        <img src="{{ url_for('static', filename=photo.doctor3) }}" alt="doctor" />
                        {% endif %}

                    </div>
                    <h4>{{ special_doctors[2][1] }}</h4>
                    <p>Radiologist</p>
                </div>
            </div>
        </section>
    </body>
{% endblock %}
