{% extends 'base.html' %}
{% block title %}
    Log In Page
{% endblock %}
{% block content %}
    <body >
        <header>
            <nav class="section__container nav__container">
                <div class="nav__logo">Sun<span>Ray</span></div>
                <ul class="nav__links">
                    <li class="link"><a href="/home">Home</a></li>
                    <li class="link"><a href="#">About Us</a></li>
                    <li class="link"><a href="#">Services</a></li>
                    <li class="link"><a href="#">Blog</a></li>
                    <li class="link"><a href="/contactUs">Contact Us</a></li>
                    <li class="link"><a href="/register">Register</a></li>
                </ul>
                <a class="btn" href="/BookAppointment">BOOK NOW</a>
            </nav>
        </header>
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <div class="container">
            <div class="text-center mt-5" style = "position:relative;  color:black">
                <h1>Log into your account</h1>

            </div>
            <br>
        </div>
        <div class="container" style="width: 30%">
            <form method="POST" class="form-signin" style="color:white">
                {{ form.hidden_tag() }}

                {{ form.Email.label() }}
                {{ form.Email(class="form-control",placeholder="Email") }}

                {{ form.Password.label() }}
                {{ form.Password(class="form-control",placeholder="Password") }}

                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-success") }}
            </form>
            <div class="text-center mt-5" style = "position:relative;  top:-88px; left: 85px; color:black">
                <a class="lead" href="/register" style="color:black">Don't have an account?</a>
            </div>
        </div>
    </body>
{% endblock %}
