{% extends 'base.html' %}
{% block title %}
    Log In Page
{% endblock %}
{% block content %}
    <body >
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <div class="container">
            <div class="text-center mt-5" style = "position:relative;  color:black">
                <h1>Log into your account</h1>

            </div>
            <br>
        </div>
        <div class="container" style="width: 30%">
            <form method="POST" class="form-signin" style="color:white">
                {{ form.hidden_tag() }}

                {{ form.Email.label() }}
                {{ form.Email(class="form-control",placeholder="Email") }}

                {{ form.Password.label() }}
                {{ form.Password(class="form-control",placeholder="Password") }}

                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-success") }}
            </form>
            <div class="text-center mt-5" style = "position:relative;  top:-88px; left: 85px; color:black">
                <a class="lead" href="/register" style="color:black">Don't have an account?</a>
            </div>
        </div>
    </body>
{% endblock %}
