{% extends 'base.html' %}
{% block title %}
    Patient Profile Page
{% endblock %}
{% block content %}
    <body>
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
        <div class="container-profile">
            <form method="post">
                <div class="content">
                    </br> </br>
                <div class="left-side">
                    <div class="profile">
                        <div class="profile-img">
                            {% if data.profile_picture is none %}
                                <img src="{{ url_for('static', filename='images/image.png') }}" class="image" />
                            {% else %}
                                <img src="{{ url_for('static', filename=data.profile_picture) }}" class="image" />
                            {% endif %}
                            <!-- <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> -->
                            <div class="profile-work">
                                <!-- <p id="p1">Social</p>
                                <a href={{data.facebook}}><i class="fab fa-facebook"></i> Facebook</a><br/>
                                <a href={{data.linkedin}} target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a><br/>
                                <a href={{data.instagram}} target="_blank"> <i class="fab fa-instagram"></i> Instagram</a><br/>
                                <a href={{data.twitter}} target="_blank"><i class="fab fa-twitter"></i> Twitter</a> -->
                                <p> </p>
                                </br>
                                <a class="edit-profile-btn" href="/patient-edit_profile">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                    </br> </br>
                    <div class="user-data">
                            <div class="user-data-content">
                                <h5>
                                    {{ data.fname }} {{ data.lname }}
                                </h5>
                                <h6>
                                    {% if data.is_admin == true %}
                                        Admin
                                    {% else %}
                                        Patient
                                    {% endif %}
                                </h6>

                            </div>
                            <div class="Info">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>User Id:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.id }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First Name:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.fname }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Last Name:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.lname }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.email }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.phone }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Age:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.age }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>gender:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.gender }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Address:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ data.address }}</p>
                                        </div>
                                    </div>
                                </div>
                                </br>
                            </div>
                </div>
                    </br> </br>
                </div>
                    </br> </br>
                <div class="right-side">
                    <div class="tabs">
                        <input type="radio" id="tab-appointment" name="mytabs" checked="checked">
                        <label  class="appointment" for="tab-appointment">Appointments</label>
                    <div class="tab" role="tabpanel" aria-labelledby="appointments-tab">
                        <div class="scrollable">
                            <div class="scrollable-content">
                        {% if appointments %}
                            <ul>
                                {% for appointment in appointments %}
                                <div class ="row">
                                    <li>

                                        <p><strong>Appointment ID:</strong> {{ appointment.a_id }}</p>
                                        <p><strong>Date:</strong> {{ appointment.date }}</p>
                                        <p><strong>With:</strong> {{ appointment.d_name }}</p>
                                        <!-- Add more fields as needed -->
                                    </li>
                                </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No Appointments Found.</p>
                        {% endif %}
                        <!-- change the route to add btn functionality -->

                                </div>
                            </br>
                            <a class="book-appointment-btn" href="/BookAppointment">Book Appointment</a>
                        </div>
                    </div>
                        <input type="radio" id="tab-reports" name="mytabs">
                        <label class="reports" for="tab-reports">Reports</label>
                        <div class="tab" role="tabpanel" aria-labelledby="reports-tab">
                            <div class="scrollable">
                            <div class="scrollable-content">
                     {% if reports %}
                    <ul>
                        {% for report in reports %}
                        <style>
                            .row .hidden-item {
                                display: none;
                            }

                            .row:hover .hidden-item {
                                display: block;
                            }
                        </style>
                        <div class ="row">
                            <li>


                                <p><strong>report ID:</strong> {{ report.r_id }}</p>
                                <p><strong>Doctor Name:</strong> {{ report.d_name }}</p>
                                <p><strong>Study Area:</strong> {{ report.r_study_area}}</p>
                                <p><strong>Prescripted Dose:</strong> {{ report.radiation_dose}}</p>
                                <p class="hidden-item"><strong>Observation:</strong> {{ report.r_findings}}</p>
                                <p class="hidden-item"><strong>Date:</strong> {{ report.r_time}}</p>
                                <p class="hidden-item"><strong>Result:</strong> {{ report.r_result}}</p>
                                <p class="hidden-item"><strong>Billing:</strong> {{ report.billing}}</p>
                                <!-- <style>
                                    .flex-container {
                                        display: flex;

                                    }
                                </style> -->
                                {% if report.r_scan %}
                                    <div class="flex-container">
                                        <p class="hidden-item"><strong>Scan:</strong> </p>
                                        <img src="{{ url_for('static', filename=report.r_scan) }}" class="hidden-item" height="300"/>
                                    </div>
                                {% endif %}

                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                        </br>
                    <p>No Reports Found.</p>
                        </br>
                    {% endif %}
                            </div>
                                </br>
                            </div>
                </div>
                    </div>
                    </br>
                    <div class="scans">
                        </br>
                        <div class="scrollable">
                            <div class="scrollable-content">
                                {% if data.scans %}
                                    {% for image in scan_Files %}
                                        <img src="{{ url_for('static', filename=data.scans+ '/' + image) }}" class="image" height="300"/>
                                    {% endfor %}
                                {% else %}
                                    <p>No Scans Available</p>
                                {% endif %}
                            </div>

                        </div>
                         </br>
                            <a class="upload-scan-btn" href="/upload_scan">Upload Scans</a>
                            </br>
                        </br>
                    </div>
                </div>
                    </br> </br>
                </div>
                </br>
            </form>
            </br>
        </div>
    </body>
{% endblock %}
