{% extends 'base.html' %}
{% block title %}
    Patient Login Page
{% endblock %}
{% block content %}
<!--xmlns="http://www.w3.org/1999/html"-->
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patient-login.css') }}">
    </head>

    <body>
         {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
        <div class="loginBox">
            <img class="logo" src="https://cdn-icons-png.flaticon.com/128/4228/4228704.png">
            <h1>Log In</h1>
            <form method="POST" class="form-signin">
                {{ form.hidden_tag() }}
                {{ form.Email.label() }}
                {{ form.Email(class="form-control",placeholder="Email") }}
                {{ form.Password.label() }}
                {{ form.Password(class="form-control",placeholder="Password") }}
                <a class="pass" href="{{ url_for('reset_request') }}">Forgot Password?</a>
                {{ form.submit(class="btn btn-lg btn-block btn-success") }}
                <div class="container">
                  <a href="/googleLogin">
                    <div class="g-sign-in-button">
                      <div class="content-wrapper">
                        <div class="logo-wrapper">
                          <img src="https://developers.google.com/identity/images/g-logo.png">
                        </div>
                        <span class="text-container">
                          <span>Sign in with Google</span>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
            </form>
            <a class="signUp" href="/patient-register">Don't have an account?</a>
        </div>
    </body>
{% endblock %}
