{% extends 'base.html' %}
{% block title %}
    Ai Assistance
{% endblock %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/password.css') }}">
    </head>

    <body>
 <div class="forgetBox">
            <div class="content"> <br>
            <h1 align="center">Image Classifier</h1>


                <form class="p-3 text-center" action='/pneumoniaPredict', method="post" enctype="multipart/form-data">
<div class="forget-form">
               <input class="form-control" type="file" name="imagefile" >
            <input class="btn btn-primary mt-3  " type="submit" value="Predict Pneumonia" >
                    </div>
            </form>
                </div>
        </div>
  <div class="flash-container">
            <div>
         {% if result %}
                     <div class="flash-info">Scan indicates: {{result}}</div>
          {% endif %}
            </div>
       </div>
    </body>
</html>
{% endblock %}