{% extends 'base.html' %}
{% block title %}
    Profile Page
{% endblock %}
{% block content %}
    <body>
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">-->
        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if data.profile_picture is none %}
                            <img src="{{ url_for('static', filename='images/image.png') }}" class="image" height="200"/>
                            {% else %}
                            <img src="{{ url_for('static', filename=data.profile_picture) }}" class="image" height="200"/>
                            {% endif %}
                                <!-- <div class="file btn btn-lg btn-primary">
                                   Change Photo
                                   <input type="file" name="file"/>
                                </div> -->
                            <div class="profile-work">
                                <p id="p1">Social</p>
                                <!-- <p>{{data.facebook}}</p> -->
                                <a href={{data.facebook}}><i class="fab fa-facebook"></i> Facebook</a><br/>
                                <a href={{data.linkedin}} target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a><br/>
                                <a href= {{data.instagram}} target="_blank"> <i class="fab fa-instagram"></i> Instagram</a><br/>
                                <a href={{data.twitter}} target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                                <p> </p>
                                <a class="edit_profile_btn" href="/edit_profile">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <div class ="profile-head-content">
                                <h5>
                                    {{ data.fname }} {{ data.lname }}
                                </h5>
                                <h6>
                                    {% if data.is_admin == true %}
                                        admin
                                    {% else %}
                                        user
                                    {% endif %}
                                </h6>
                                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                                <div class="col-md-8">
                                    <!-- <div class="tab-content profile-tab" id="myTabContent"> -->
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ data.id }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>First Name :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ data.fname }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Last Name :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ data.lname }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ data.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ data.phone }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <label> {{ data.fname }} {{ data.lname }} started a new project called "Web Development 101".
                                    </label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>2022/10/15 09:30</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> {{ data.fname }} {{ data.lname }} contributed to the "Machine Learning" project.</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>2022/10/14 15:45</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> {{ data.fname }} {{ data.lname }} completed the "Database Design" project.</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>2022/10/13 11:20</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> {{ data.fname }} {{ data.lname }} joined the "Software Engineering" project.</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>2022/10/12 14:55</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> {{ data.fname }} {{ data.lname }} updated the "UI Design" project.</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>2022/10/11 08:10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
