{% extends 'base.html' %}
{% block title %}
   Radiologist Profile Page
{% endblock %}
{% block content %}

<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            
                            
                        {% if data.profile_picture is none %}
                            <img src="{{ url_for('static', filename='images/image.png') }}" class="image" height="200"/>
                        {% else %}
                            <img src="{{ url_for('static', filename=data.profile_picture) }}" class="image" height="200"/>
                        {% endif %}
                        <!-- <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div> -->
                        <div class="profile-work">
                            <!-- <p id="p1">Social</p>
                            <a href={{data.facebook}}><i class="fab fa-facebook"></i> Facebook</a><br/>
                            <a href={{data.linkedin}} target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a><br/>
                            <a href={{data.instagram}} target="_blank"> <i class="fab fa-instagram"></i> Instagram</a><br/>
                            <a href={{data.twitter}} target="_blank"><i class="fab fa-twitter"></i> Twitter</a> -->
                            <p> </p>
                            <a class="edit_profile_btn" href="/radiologist-edit_profile">Edit Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <div class="profile-head-content">
                            <h5>
                                {{ data.d_name }}
                            </h5>
                            <h6>
                                {% if data.is_admin == true %}
                                    admin
                                {% else %}
                                    user
                                {% endif %}
                            </h6>
                            
                        </div>
                        <div class="col-md-8">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_id }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_name }}</p>
                                    </div>
                                </div>
<!--                                <div class="row">-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label>Last Name :</label>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <p>{{ data.lname }}</p>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_phone }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Age :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_age }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>gender :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_gender }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_address }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="activity-section">
                <div class="radiologist">
<!--                    <h3>Your scans</h3>-->
<!--                    <div class="scrollable">-->
<!--                        <div class="scrollable-content">-->
<!--                            {% if data.scans %}-->
<!--                                {% for image in scan_Files %}-->
<!--                                    <img src="{{ url_for('static', filename=data.scans+ '/' + image) }}" class="image" height="200"/>-->
<!--                                {% endfor %}-->
<!--                            {% else %}-->
<!--                                <p>No scans available</p>-->
<!--                            {% endif %}-->
<!--                        </div>-->
<!--                    </div>-->
                    
                </div>
<!--                <a class="btn btn-primary" href="/upload_scan">upload_scans</a>-->
                
                    {% if appointments %}
                        <ul>
                            <h3>Your appointments</h3>
                            {% for appointment in appointments %}
                            <div class ="row">
                                <li>

                                    <p>Appointment ID: {{ appointment.a_id }}</p>
                                    <p>Date: {{ appointment.date }}</p>
                                    <p>Dr: {{ appointment.p_name }}</p>
                                    <!-- Add more fields as needed -->
                                </li>
                            </div>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No appointments found.</p>
                    {% endif %}
                    <!-- change the route to add btn functionality -->
<!--                    <a class="btn btn-primary" href="/book-appointement">book an appointment</a>-->

                    {% if reports %}
                    <ul>
                        <h3>Your reports</h3>
                        {% for report in reports %}
                        <div class ="row">
                            <li>

                                <p>report ID: {{ report.r_id }}</p>
                                <p>Patiet Name: {{ report.fname +" "+ report.lname }}</p>
                                <p>Study Area: {{ report.r_study_area}}</p>
                                <p>Prescripted Dose: {{ report.radiation_dose}}</p>
                                <p>Observation: {{ report.r_findings}}</p>
                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No reports found.</p>
                    {% endif %}

                    <a class="btn btn-primary" href="/SubmitReport">Create a report</a>
                
            </div>
            

            
        </form>
    </div>
</body>
{% endblock %}
