{% extends 'base.html' %}
{% block title %}
   Radiologist Profile Page
{% endblock %}
{% block content %}

<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rad-profile.css') }}">
<div class="container-profile">
            <form method="post">
                </br>
                <div class="content">
                    </br> </br>
                <div class="left-side">
                    <div class="profile">

                            
                            
                        {% if data.d_profile_picture is none %}
                            <div class="circular-frame">
                            <img src="{{ url_for('static', filename='images/image.png') }}" class="image"/>
                            </div>
                        {% else %}
                            <div class="circular-frame">
                            <img src="{{ url_for('static', filename=data.d_profile_picture) }}" class="image"/>
                            </div>
                        {% endif %}

                        <div class="profile-work">
                            <p> </p>
                            </br>
                            <a class="edit-profile-btn" href="/radiologist_edit_profile">Edit Profile</a>
                        </div>
                </div>
                    </br> </br>
                    <div class="user-data">
                            <div class="user-data-content">
                            <h5>
                                {{ data.d_name }}
                            </h5>
                            <h6>
                                Radiologist
                            </h6>

                        </div>
                        <div class="Info">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_id }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_name }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_phone }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Age :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_age }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>gender :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_gender }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ data.d_address }}</p>
                                    </div>
                                </div>
                            </div>
                            </br>
                        </div>
                    </div>
                    </br>
                    </div>
                    </br> </br>
                <div class="right-side">
                    <div class="tabs">
                        <input type="radio" id="tab-appointment" name="mytabs" checked="checked">
                        <label  class="appointment" for="tab-appointment">Appointments</label>
                    <div class="tab" role="tabpanel" aria-labelledby="appointments-tab">
                        <div class="scrollable">
                            <div class="scrollable-content">
                        {% if appointments %}
                        <ul>
                            {% for appointment in appointments %}
                            <div class ="row" id="{{ appointment.state }}">
                                <li>

                                    <p style="margin-left: 10px;"><strong>Appointment ID:</strong> {{ appointment.a_id }}</p>
                                    <p style="margin-left: 10px;"><strong>Date:</strong> {{ appointment.date }}</p>
                                    <p style="margin-left: 10px;"><strong>Patient:</strong> {{ appointment.fname +" "+ appointment.lname }}</p>
                                    <p style="margin-left: 10px;"><strong>State:</strong> {{ appointment.state }}</p>
                                    <!-- Add more fields as needed -->
                                </li>
                            </div>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Appointments Found.</p>
                    {% endif %}
                            </div>

                        </div>
                    <!-- change the route to add btn functionality -->
<!--                    <a class="btn btn-primary" href="/book-appointement">book an appointment</a>-->
                    </div>
                        <input type="radio" id="tab-reports" name="mytabs">
                        <label class="reports" for="tab-reports">Reports</label>
                        <div class="tab" role="tabpanel" aria-labelledby="reports-tab">
                            <div class="scrollable">
                            <div class="scrollable-content">
                    {% if reports %}
                    <ul>
                        {% for report in reports %}
                        <style>
                            .row .hidden-item {
                                display: none;
                            }

                            .row:hover .hidden-item {
                                display: block;
                            }
                        </style>
                        <div class ="row">
                            <li>


                                <p><strong>Report ID:</strong> {{ report.r_id }}</p>
                                <p><strong>Patient Name:</strong> {{report.fname +" "+ report.lname}}</p>
                                <p><strong>Study Area:</strong> {{ report.r_study_area}}</p>
                                <p><strong>Prescripted Dose:</strong> {{ report.radiation_dose}}</p>
                                <p class="hidden-item"><strong>Observation:</strong> {{ report.r_findings}}</p>
                                <p class="hidden-item"><strong>Date:</strong> {{ report.r_time}}</p>
                                <p class="hidden-item"><strong>Result:</strong> {{ report.r_result}}</p>
                                <p class="hidden-item"><strong>Billing:</strong> {{ report.billing}}</p>
                                <!-- <style>
                                    .flex-container {
                                        display: flex;

                                    }
                                </style> -->
                                {% if report.r_scan %}
                                    <div class="flex-container">
                                        <p class="hidden-item"><strong>Scan:</strong> </p>
                                        <img src="{{ url_for('static', filename=report.r_scan) }}" class="hidden-item" height="300"/>
                                    </div>
                                {% endif %}

                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                        </br>
                    <p>No Reports Found.</p>
                        </br>
                    {% endif %}



                            </div>
                                </br>
                                <a class="create-report-btn" href="/SubmitReport">Create A Report</a>
                            </div>
            </div>

                    </div>
  <div class="scans">
                        </br>

<h2 style="text-align: center">AI Assistance For</h2>
                            <a class="icon-button" href="/braintumourpredict"><img class="logo" src="static/photos/brain.png"></a>

                            <a class="icon-button2" href="/pneumoniaPredict"><img class="logo" src="static/photos/lungs.png"></a>
      <div class="brain">Brain Tumor</div>
      <div class="lung">Pneumonia</div>
                    </div>
                </div>
                    </br> </br>
                    </br> </br>
                </div>
<!--                <a href='/predict' class="button">brain tumor prediction</a>-->
                </form>
    </div>
</body>
{% endblock %}
