{% extends 'base.html' %}
{% block title %}
    Radiologist Login Page
{% endblock %}
{% block content %}
<!--xmlns="http://www.w3.org/1999/html"-->
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patient-login.css') }}">
    </head>

    <body>
        <header>
            <nav class="section__container nav__container">
                <div class="nav__logo">Sun<span>Ray</span></div>
                <ul class="nav__links">
                    <li class="link"><a href="/home">Home</a></li>
                    <li class="link"><a href="/home">About Us</a></li>
                    <li class="link"><a href="/home">Services</a></li>
                    <li class="link"><a href="#">Blog</a></li>
                    <li class="link"><a href="/contactUs">Contact Us</a></li>
                    <li class="link"><a href="/patient-register">Register</a></li>
                </ul>
                <a class="btn" href="/BookAppointment">BOOK NOW</a>
            </nav>
        </header>
<div >
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
</div>
        <div class="loginBox">
            <img class="logo" src="static/photos/doctor.png">
            <h1>Log In</h1>
            <form method="POST" class="form-signin">
                {{ form.hidden_tag() }}
                {{ form.Email.label() }}
                {{ form.Email(class="form-control",placeholder="Email") }}
                {{ form.Password.label() }}
                {{ form.Password(class="form-control",placeholder="Password") }}
                <a class="pass" href="{{ url_for('reset_request') }}">Forgot Password?</a>
                {{ form.submit(class="btn btn-lg btn-block btn-success") }}
            </form>
        </div>
    </body>
{% endblock %}
