{% extends 'base.html' %}
{% block title %}
    Report Page
{% endblock %}
{% block content %}
<body onload="setMinDate()">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <h1 class="text-center">Submit Report</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-{{ message[0] }}" role="alert">{{ message[1] }}</div>
    {% endfor %}
<div class="container" style="max-width: 400px;" >
        <div class="card">
            <div class="card-body">
                <form action="" method='POST' name="ReportForm">

                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                    <label for="Patient Name">{{ form.patients.label }}</label>
                             {{ form.patients }}
                         </div>

                    <script>
                                function setMinDate() {
                                    var today = new Date().toISOString().split('T')[0];
                                    document.getElementById('date').setAttribute('min', today);
                                }
                                         </script>

                    <div >
                    {{ form.r_time.label }} {{form.r_time(class='datepicker',id = 'date')}}
                        </div>

                    <div class="mb-3">
                    <label for="Patient Name">'Replace this with scan image input in the html'</label>
                             {{ form.patient }}
                         </div>
                    <div class="mb-3">
                    <label for="Study Area">{{ form.r_study_area.label }}</label>
                             {{ form.r_study_area }}
                         </div>
                     <div class="mb-3">
                    <label for="Examination Type">{{ form.devices.label }}</label>
                             {{ form.devices }}
                        </div>

                     <div class="mb-3">
                    <label for="Radiation dose">{{ form.radiation_dose.label }}</label>
                             {{ form.radiation_dose }}
                         </div>
                     <div class="mb-3">
                    <label for="Findings">{{ form.r_findings.label }}</label>
                             {{ form.r_findings }}
                         </div>
                     <div class="mb-3">
                    <label for="Impressions">{{ form.r_result.label }}</label>
                             {{ form.r_result }}
                         </div>
                    <br>


                   <br>
                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
