{% extends 'base.html' %}
{% block title %}
    Reset Password Page
{% endblock %}
{% block content %}
<!--xmlns="http://www.w3.org/1999/html"-->
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/password.css') }}">
    </head>
    <body>
     <div class="flash-container">

             <div>
         {% for error in form.confirm_password.errors %}
                     <div class="flash-error">{{ error }}</div>
          {% endfor %}
            </div>
             </div>



        <div class="forgetBox">
            <div class="content"> <br> <br> <br> <br>
            <h1>Reset Password</h1>
            <form method="POST" class="forget-form">
                {{ form.hidden_tag() }}
                {{ form.new_password.label() }}
                {{ form.new_password(class="form-control",placeholder="Password:") }}
                {{ form.confirm_password.label() }}
                {{ form.confirm_password(class="form-control",placeholder="Confirm Password:") }}
                {{ form.submit(class="btn btn-lg btn-block btn-success") }} </br> </br> </br>
            </form>
        </div>
        </div>
    </body>
{% endblock %}
