{% extends 'base.html' %}
{% block title %}
    Thank You Page
{% endblock %}
{% block content %}
    <body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5" >
                <h1>Thank you for Registration</h1>
                <p class="lead">You can log in to your account from the navigation bar</p>

            </div>
        </div>
    </body>
{% endblock %}
