{% extends 'base.html' %}
{% block title %}
    Forget Password Page
{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload.css') }}">
    </head>
    <body>
        <!-- Display flash messages if any -->
        <div class="flash-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            </br>
        <div class="uploadBox">
            <div class="content">  <br> <br> <br>
                <h1>Upload Scans</h1>
                <p>Welcome, {{ data.fname }}!</p>
                <form action="/upload_scan" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="scan_file" class="form-label">Select Scan File:</label>
                        <input type="file" class="form-control" id="scan_file" name="scan_file" accept=".pdf,.jpg,.png,.jpeg" required>
                    </div>
                    <button type="submit">Upload</button>
                    <!-- dont change the a elemnt to button the href doesnt work just change the style to match it -->
                    <a href="/patient-profile" role="button" class="btn">Done</a> 
                </form>
            </div>
        </div>
        <div class="scan-photos">
            {%if data.scans %}
                {% for scan_file in scan_files %}
                    <img src="{{ url_for('static', filename=data.scans+ '/' + scan_file) }}" class="image" height="300"/>
                {% endfor %}
            {% else %}
                <p>No scans uploaded yet.</p>
            {% endif %}
        </div>
            </br> </br>
        </div>
        <!-- Bootstrap JavaScript -->
        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>-->
    </body>
{% endblock %}
